@page "/game"
@using HM.Data.Entities.GameItems;
@using HM.Logic.Logic;
@{
    if (gameLogic.gameInProgress)
    {
    <div class="col-lg-4">
        @foreach (var letter in gameLogic.printWordDisplay.Name)
        {
            <h1 style="display:inline; font-size:large">@letter</h1>
        }
    </div>
        <div class="row" style="display:block;">
            <div class="col-md-6 col-lg-4">
                <input name="MainCharInput" @bind="@gameLogic.inputDisplay" type="text" />
                <button class="btn btn-primary" @onclick="@gameLogic.GuessLetter">Guess</button>
                <button class="btn btn-primary" @onclick="@gameLogic.Joker">Use Joker</button>
            </div>
            <div id="gameData" class="col-md-6 col-lg-4" style="font-family:Georgia">
                <p>Words guessed:@gameLogic.wordCount</p>
                <p>Number of tries:@gameLogic.tries</p>
                <p>Score:@gameLogic.score</p>
                <p>Jokers available:@gameLogic.jokers</p>
                <p>Input:@gameLogic.inputDisplayFirstLetter</p>
            </div>
        </div>
    }

    else if (!gameLogic.gameInProgress && gameLogic.gameWon)
    {
        <p>You won!</p>

        <button name="startBtn" class="btn btn-primary" @onclick="@gameLogic.StartGame">New Game</button>
    }

    else if (!gameLogic.gameInProgress && gameLogic.gameLost)
    {
        <p>You lost!</p>

        <button name="startBtn" class="btn btn-primary" @onclick="@gameLogic.StartGame">New Game</button>
    }
    else
    {
        <div class="row">
            <div class="col-md-4 col-lg-6 ">
                <option>
                </option>
            </div>
        </div>
        <button name="startBtn" class="btn btn-primary" @onclick="@gameLogic.StartGame">New Game</button>
    }
}
@code {

    [Inject]
    private GameData gameData { get; set; }

    [Inject]
    private GameLogicBlazor gameLogic { get; set; }
}

