@page "/game"
@using HM.Data.Entities.GameItems;
@using HM.Logic.Logic;
@using HM.Data.Entities.Difficulty;
@{
    if (gameLogic.gameInProgress)
    {
        <div class="col-lg-4">
            @foreach (var letter in gameLogic.printWordDisplay.Name)
            {
                <h1 style="display:inline;">@letter</h1>
            }
        </div>
        <div class="row" style="display:block;">
            <div class="col-md-6 col-lg-4">
                <input name="MainCharInput" @bind="@gameLogic.inputDisplay" type="text" />
                <button class="btn btn-primary" @onclick="@gameLogic.GuessLetter">Guess</button>

                @if (gameLogic.jokers != 0)
                {
                    <button class="btn btn-primary" @onclick="@gameLogic.Joker">Use Joker</button>
                }
            </div>
            <div id="gameData" class="col-md-6 col-lg-4" style="font-family:Georgia">
                <p>Words guessed:@gameLogic.wordCount</p>
                <p>Number of tries:@gameLogic.tries</p>
                <p>Score:@gameLogic.score</p>
                <p>Jokers available:@gameLogic.jokers</p>
                <p>Input:@gameLogic.inputDisplayFirstLetter</p>
            </div>
        </div>
    }

    else if (!gameLogic.gameInProgress && gameLogic.gameWon)
    {
        <h1 style="font-family:Georgia;">You won!</h1>

        <button name="startBtn" class="btn btn-primary" @onclick="@gameLogic.StartGame">New Game</button>
    }

    else if (!gameLogic.gameInProgress && gameLogic.gameLost)
    {
        <h1 style="font-family:Georgia;">You lost!</h1>

        <button name="startBtn" class="btn btn-primary" @onclick="@gameLogic.StartGame">New Game</button>
    }
    else
    {
        <div class="row">
            <div class="col-md-4 col-lg-6 ">
                <div class="form-group">
                    <label for="sel1">Difficulty:</label>
                    <select class="form-control" id="categorySel">
                        @foreach (var difficulty in difficulies)
                        {
                            <option id="difficultyDropDown" selected="@selectedDifficulty">@difficulty</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="sel1">Difficulty:</label>
                    <select class="form-control" id="categorySel">

                        @foreach (var item in categories)
                        {
                            <option id="categoryDropDown" selected="@selectedCategory">@item</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <button name="startBtn" class="btn btn-primary" @onclick="@gameLogic.StartGame">New Game</button>
    }
}
@code {
    GameLogicBlazor gameLogic = new GameLogicBlazor();

    string selectedCategory;

    string selectedDifficulty;

    List<string> categories = new List<string>
    {
        "Animal",
        "Locations",
        "Programming"
    };

    List<string> difficulies = new List<string>
{
        GameDifficulty.Easy.ToString(),
        GameDifficulty.Normal.ToString(),
        GameDifficulty.Hard.ToString(),
        GameDifficulty.Insane.ToString()
    };
}

